/*
================================================================
MARGINS
================================================================
*/

:root {
  --pageMargins: 20px;
}


/*
================================================================
COLOURS
================================================================
*/

:root {
  --dawes-black: #000000;
  --dawes-green: #DBFF00;
}