@media only screen and (orientation: portrait) {

/*  
================================================================
UTILITY CLASSES
================================================================  
*/


.portrait-visuallyhidden { 
  position: absolute; 
  overflow: hidden; 
  clip: rect(0 0 0 0); 
  height: 1px; width: 1px; 
  margin: -1px; padding: 0; border: 0; 
}

.portrait-visible { 
  position: inherit; 
  overflow: visible; 
  clip: auto; 
  height: auto; width: auto; 
}

.portrait-hide {
   display: none;
}

.portrait-show {
   display: inline-block;
}

}// END MQ